section#contact.section.section--contact
	.block
		.block__half
			h2.section__title Contact
			.section__content
				p Send me an email and we'll set up a time to meet.
			a.section__link(href="emailto:hector@hectordiaz.pro") hector@hectordiaz.pro
		.block__half.block__half--center
			a(href="https://portfolio.hectordiaz.pro/resume").btn.btn--cta View my resume

