section#folio.section.section--folio.section--loading
	.block
		h2.section__title case studies
		ul.section__nav
			li 
				|
				a(href="#") graphic design
			li 
				|
				a(href="#") development
			li 
				|
				a(href="#") clients

		section.section__projects
			hr.section__break
			h3.section__projects-title Graphic Design
			.section__projects-body
				.section__loading Loading...

		section.section__projects
			hr.section__break
			h3.section__projects-title Development
			.section__projects-body
				.section__loading Loading...

		section.section__clients
			hr
			h3.section__clients-title Clients
			.section__clients-body
				.section__loading Loading...
