section#folio.section.section--folio.section--loading
	h2.section__title Portfolio
	section.section__projects
		hr
		h3.section__projects-title Personal Projects
		.section__projects-body
			.section__loading Loading...
	section.section__clients
		hr
		h3.section__clients-title Past Clients
		.section__intro
			| The Client website that I designed and built are no longer managed by me and my appear altered from the mock up provided.
		.section__clients-body
			.section__loading Loading...
