mixin navbar
	section.section.section--navbar&attributes(attributes)
		h4.section__title.section__title--sr Page navigation links
		nav.section__nav
			a.section__nav-link(href="#folio") Portfolio
			a.section__nav-link(href="#contact") Contact
			a.section__nav-link(href="/resume") Resume
