//-script(src="https://static.hectordiaz.pro/request_lib.js")
//-script( src="https://static.hectordiaz.pro/requests.js")
script(src="https://static.hectordiaz.pro/ui_lib.js")
script(src="request_lib.js")
script(src="requests.js")
script(src="carousel.js")
script(src="modals.js")
script(src="render_home.js")
