@use "media-query.scss";
@use "animations.scss";
@use "mixins.scss";
@use "brand.scss";

.modal {
	background: rgb(51 51 51 / 73%);
	backdrop-filter: grayscale(1);
	@include animations.fadeDown;
	max-width: 100vw;
	position: fixed;
	padding: 15px;
	z-index: 100;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	&--hidden {
		@include animations.fadeOut;
		.section__loading--modal{
			opacity: 0;
		}
	}
	&__container {
		background-color: brand.$body-white;
		box-shadow: -6px 6px 9px 1px #333;
		border-radius: 30px;
		position: relative;
		margin: 0 auto;
		max-width: 90%;
		height: 100%;
	}
	&__body {
		border-radius: inherit;
		background: inherit;
		position: relative;
		overflow: hidden;
		max-height: 100%;
		color: brand.$bg;
		margin: 0 auto;
		padding: 15px;
		z-index: 10;
		height: 90%;
		width: 100%;
		@include media-query.smart-phone {
			margin-bottom: 1rem;
		}
		&--single {
			overflow-y: auto;
			max-height: 100%;
		}
		&--fade-in {
			//@include animations.fadeDown;
		}
		h2,
		h3,
		h4 {
			font-family: mont_heavy;
		}
	}
}

.section__loading--modal{
	@include animations.pulse;
	position: absolute;
	color: brand.$bg;
	left: auto;
	top: 1rem;
}

.post-gallery {
	list-style: none;
	overflow-y: auto;
	max-height: 100%;
	padding: 0;
	margin: 0;
	&__entry {
		display: inline-block;
		vertical-align: top;
		max-width: 50%;
		height: 200px;
		@include media-query.tablet {
			max-width: 33%;
		}
		&-title {
			font-size: 0.75rem;
		}
		&-figure {
			max-height: 65%;
			height: 100%;
			width: 100%;
			margin: 0;
		}
		&-img {
			object-fit: contain;
			max-height: 100%;
			width: 100%;
		}
	}
}
