
@use "mixins.scss";
@use "brand.scss";

.section--folio {
	//background-color: brand.$title-red;
	//color: brand.$bg;
	.section__title {
		color: brand.$title-aqua;
	}
	.section__break {
		color: brand.$title-green;
	}
	.section__projects {
		&-title {
			max-width: 50%;
		}
		position: relative;
	}
	.section__clients {
		&-title {
			max-width: 40%;
		}
		position: relative;
	}
	.section__clients-body {
	}

	.client {
		margin: 40px 0;
		&__figure {
			margin: 0;
			&-mockup {
				max-height: 200px;
				overflow: hidden;
			}
			&-mockup-file{
				max-width: 100%;
			}
		}
	}
	.project {
		margin: 40px 0;
		&__figure {
			margin: 0;
			&-file {
				max-width: 100%;
			}
		}
	}
}
