@use "media-queries.scss";
@use "mixins.scss";
@use "brand.scss";

.section.section--navbar {
	max-width: none;
	@include media-queries.sm-smart-phone(true){
		@include mixins.center-x;
		bottom: 100%;
	}
	.section__nav {
		margin: 15px auto;
		&-link {
			padding: 15px 5px;
			margin: 0 5px;
			&--selected {
				font-family: mont_heavy;
			}
		}
	}
}
